<div class="row">
    <div class="col-sm-9">
        # <h2>
        #     <i class="far fa-calendar-alt"></i>
        #     <%= @cocktail[:date] %>
        # </h2>
        <h1><%= @cocktail[:name] %></h1>
        <p><%= @cocktail[:description] %></p>
        <% for guest in @guests %>
            <% user = @users_table.where(:id => guest[:user_id]).to_a[0] %>
            <div class="media">
                <% if guest[:going] %>
                    <i class="fas fa-thumbs-up fa-3x mr-3"></i>
                <% else %>
                    <i class="fas fa-thumbs-down fa-3x mr-3"></i>
                <% end %>
                <div class="media-body">
                    <h5 class="mt-0"><%= user[:name] %></h5>
                    <%= guest[:special_requests] %>
                </div>
            </div>
        <% end %>
        <p class="mt-5">
            <a href="/cocktails/<%= @cocktail[:id] %>/guests/new" class="btn btn-primary">RSVP now!</a>
        </p>
    </div>
    <div class="col-sm-3">
        <h3>Which one?</h3>
        <p><%= @cocktail[:name] %></p>
        <h3>How many guests so far?</h3>
        <p><%= @count %></p>
    </div>
</div>